<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".delete_water_data"
            android:exported="false" />
        <activity
            android:name=".water_historylist"
            android:exported="false" />
        <activity
            android:name=".water_weekly_history"
            android:exported="false" />
        <activity
            android:name=".models.Edit_gas_detail"
            android:exported="false" />
        <activity
            android:name=".models.add_today_gas_usage"
            android:exported="false" />
        <activity
            android:name=".models.your_gas_detail"
            android:exported="false" />
        <activity
            android:name=".models.Weekly_gas_usage"
            android:exported="false" />
        <activity
            android:name=".models.available_hrs_in_gas"
            android:exported="false" />
        <activity
            android:name=".models.electricity_warning_notification"
            android:exported="false" />
        <activity
            android:name=".models.register"
            android:exported="false" />
        <activity
            android:name=".models.electricity_history"
            android:exported="false" />
        <activity
            android:name=".models.update_electricity_config"
            android:exported="false" />
        <activity
            android:name=".models.recyclierView"
            android:exported="false"/>
        <activity
            android:name=".models.login_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_gas_details"
            android:exported="false" />
        <activity
            android:name=".Monthlydatausage"
            android:exported="false" />
        <activity
            android:name=".weeklydatausage"
            android:exported="false" />
        <activity
            android:name=".models.details_electricity"
            android:exported="false" />
        <activity
            android:name=".models.monthly_water_bill"
            android:exported="false" />
        <activity
            android:name=".models.edit_user_information"
            android:exported="false" />
        <activity
            android:name=".models.usage_update"
            android:exported="false" />
        <activity
            android:name=".models.fuel_usage_history"
            android:exported="false" />
        <activity
            android:name=".models.remaining_fuel"
            android:exported="false" />
        <activity
            android:name=".models.weekly_usage"
            android:exported="false" />
        <activity
            android:name=".models.Networkmain"
            android:exported="false" />
        <activity
            android:name=".models.user_information"
            android:exported="false" />
        <activity
            android:name=".models.other_utilities"
            android:exported="false" />
        <activity
            android:name=".models.fuel_management"
            android:exported="true" />
        <activity
            android:name=".models.water_management"
            android:exported="false" />
        <activity
            android:name=".models.weeklyfuel_usage"
            android:exported="false" />
        <activity
            android:name=".models.register_vehicle"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".models.AllAppScreen"
            android:exported="false" />
        <activity
            android:name=".models.Add_screen_time"
            android:exported="false" />
        <activity
            android:name=".models.availabledataamount"
            android:exported="false" />
        <activity
            android:name=".OtherUti"
            android:exported="false" />
        <activity
            android:name=".fuelUsageAlert"
            android:exported="false" />
        <activity
            android:name=".fuel_recyclerView"
            android:exported="false" />
        <activity
            android:name=".fuel_History"
            android:exported="false" />
        <activity
            android:name=".models.Add_today_screentime"
            android:exported="false" />

    </application>

</manifest>
