<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UtilityManager"
        tools:targetApi="31">
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Networkmain"
            android:exported="false" />
        <activity
            android:name=".weekly_usage"
            android:exported="false" />
        <activity
            android:name=".user_information"
            android:exported="false" />
        <activity
            android:name=".other_utilities"
            android:exported="false" />
        <activity
            android:name=".fuel_management"
            android:exported="false" />
        <activity
            android:name=".water_management"
            android:exported="false" />
        <activity
            android:name=".electricity_manager"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>